
<% if (!locals.games) { %>
  <p>Engir leikir skráðir.</p>
<% } else { %>
  <table>
    <thead>
      <tr>
        <th>Dagsetning</th>
        <th>Heimalið</th>
        <th>Stig heimaliðs</th>
        <th>Stig útiliðs</th>
        <th>Útilið</th>
        <% if (locals.loggedIn) { %>
          <th>Eyða</th>
        <% } %>
      </tr>
    </thead>
    <tbody>
      <% for (const game of locals.games) { %>
        <tr>
          <td><%= locals.formatDate(game.date) %></td>
          <td><%= game.home.name %></td>
          <td><%= game.home.score %></td>
          <td><%= game.away.score %></td>
          <td><%= game.away.name %></td>
          <% if (locals.loggedIn) { %>
            <form method="post" action="/admin/delete/<%= game.id %>">
              <td><button class="button">Eyða</button></td>
            </form>
          <% } %>
        </tr>
      <% } %>
    </tbody>
  </table>
<% } %>


